# temporay files
*~
~*

# vim swap file
*.swp

# log file
*.log

# bak file
*.bak*

# build object file
*.o
*.so

# JetBrains Pycharm
**/.idea

# vscode
**/.vscode

# blobs
blobs/

# vagrant
.vagrant/

# build directory
**/build/*

# pyc file
*.pyc

# misc
**/f2
**/replace
